{% extends 'blog_default.twig' %}
{% block content %}
    <div class="row well">
			<div class="col-lg-3">
				<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c0.0.160.160/p160x160/1385434_578980212149621_98624621_n.jpg">
			</div>
			<div class="col-lg-9">
				<h1>Henry Troutman</h1>
				<p class="lead">Some people say that I am awesome, those people are right. <br> Global Intranet Engineer at Hentech Laboratories</p>
			</div>
		</div>
		<div class="row">
			<div class="btn-group btn-group-justified">
				<a href="http://github.com/Henguin1001" class="btn btn-default">Github</a>
				<a href="https://twitter.com/HenryTroutman" class="btn btn-default">Twitter</a>
				<a href="" class="btn btn-default">Github</a>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-lg-3">
				<div class="list-group">
					{% if not category %}
						<a href="/" class="list-group-item active">
							All
						</a>
					{% else %}
						<a href="/" class="list-group-item ">
							All
						</a>   
					{% endif %}
					{% if category == "updates" %}
						<a href="/category/updates" class="list-group-item active">Updates
						</a>
					    
					{% else %}
						<a href="/category/updates" class="list-group-item ">Updates
						</a>
					{% endif %}

					{% if category == "stories" %}
						<a href="/category/stories" class="list-group-item active">Stories
						</a>
					{% else %}
						<a href="/category/stories" class="list-group-item ">Stories
						</a>
					{% endif %}
					
				</div>
			</div>
			<div class="col-lg-9">
				{% for post in posts %}

					<div class="row well">
						<div class="container container-small">
							<div class="col-lg-2 col-lg-offset-10"><a href="/archive/{{post.id}}">{{ post.date }}</a></div>
						</div>
						<div class="container container-small">
							{{post.sample}}
						</div>
						{% if post.isDivided %}
							<a href="/archive/{{post.id}}" class="btn btn-default btn-lg btn-block">Continue Reading</a>
						{% endif %}
					</div>

				{% endfor %}

				{% if numberOfPages > 1 %}
					<div class="row">
						<ul class="pager">
							{% if pageNumber == 0 %}
				                <li class="previous disabled"><a href="">← Newer</a></li>
				            {% elseif fromHomePage%}
				                <li class="previous"><a href="page/{{pageNumber - 1}}">← Newer</a></li>
			                {% else %}
				                <li class="previous"><a href="{{pageNumber - 1}}">← Newer</a></li>				                
							{% endif %}

							{% if pageNumber + 1 == numberOfPages  %}
				                <li class="next disabled"><a href="">Older →</a></li>
							{% elseif fromHomePage%}
				                <li class="next"><a href="page/{{pageNumber + 1}}">Older →</a></li>
			                {% else %}
				                <li class="next"><a href="{{pageNumber + 1}}">Older →</a></li>
							{% endif %}

			              </ul>
					</div>
				{% endif %}

			</div>
		</div>
{% endblock %}